<div class="mt-4">
    <h2>
        Prueba técnica
    </h2>
    <section class="row">
        <p>
            Esta es la aplicación realizada para la prueba técnica de la empresa Viaros Network. Selecciona 
            la opción que quieras visualizar.
        </p>
        <div class="card col-lg-4 mb-3 text-center">
            <a routerLink="/alumnos">
                <div class="card-body">Alumnos</div>
                <div class="text-center">
                    <img src="assets/images/alumnos.png" alt="">
                </div>
            </a>
        </div>
        <div class="card col-lg-4 mb-3 text-center">
            <a routerLink="/profesores">
                <div class="card-body">Profesores</div>
                <div class="text-center">
                    <img src="assets/images/docentes.png" alt="">
                </div>
            </a>
        </div>
        <div class="card col-lg-4 mb-3 text-center">
            <a routerLink="/grado">
                <div class="card-body">Grados</div>
                <div class="text-center">
                    <img src="assets/images/calendario.png" alt="">
                </div>
            </a>
        </div>
        <div class="card col-lg-4 mb-3 text-center">
            <a routerLink="/grado-alumno">
                <div class="card-body">Alumnos - Grado</div>
                <div class="text-center">
                    <img src="assets/images/alumnos.png" alt="">
                </div>
            </a>
        </div>
    </section>
</div>
